<div class="buffer-top" style="padding-left: 10px; background-color: whitesmoke;" >
  <p style="padding-top: 0; margin-bottom: 0"><%= comment.body %></p>
  <p style="text-align: right; padding-top: 0">
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(event_comment_path(comment.event, comment),
                  html_options = {method: :delete, data: {confirm: t('.destroy_confirm')}}) do %>
        <i class="fa fa-trash mx-2" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </p>
</div>

