<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="form-row align-items-center">
    <div class="col-auto custom-file">
      <%= f.label :photo, class: 'custom-file-label' %>
      <%= f.file_field :photo, class: 'form-control-file', required: true %>
    </div>

    <div class="col-auto">
      <%= f.submit t('action.upload'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>