<h2><%= t '.title' %>:</h2>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong> <%= l @comment.created_at, format: :short %></p>

<hr/>

<h3><%= t '.event' %>: <%= link_to @event.title, event_url(@event) %></h3>
<h4><%= t '.datetime' %>: <%= l @event.datetime, format: :short %></h4>
<h4><%= t '.owner' %>: <%= @event.user.name %></h4>
